:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --hover-logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --temporary-background-color: #808080;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --social-logo-base-color: #afb1b8;
}
